.scroll-container {
    max-height: 600px;
    overflow-y: auto;
    border: 1px solid #ccc;
    padding: 16px;
}

.menu-item {
    display: flex;
    margin-bottom: 20px;
    padding: 10px;
    border-bottom: 1px solid #ddd;
    font-family: 'Poppins', sans-serif;
}

.menu-btn {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background: #2ecc71;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

.capture-menu{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Poppins', sans-serif;
    font-size: 30px;
}

#logo-foodymoody {
    font-family: 'Poppins', sans-serif;
    font-size: 48px;
    color: #2ecc71;
    text-align: center;
    margin-bottom: 0px;
}

.dashboard {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
}